@model MioSito.Models.Contatto;

@{
    ViewData["Title"] = "Contatti";
}

@{
    Layout = "_LayoutContatti";
}

<h1>Contatti</h1>

<div>
    Nome:      @Model.Nome<br />@*  se hai le proprietà già settate  *@
    Cognome:   @Model.Cognome<br />
    Città:     @Model.Città<br />
    Indirizzo: @Model.Indirizzo<br />
    Telefono:  @Model.Telefono<br />
    <img src="@Url.Content(Model.Immagine)" /><br />

    







@*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*@
    <form action="" method="get">
        <div class="contenitore">

            Password:  @Html.Password("sni")
            check box: @Html.CheckBox("aa", true, "nhg")
            <select>
                <option selected>Scegli</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select><br />
            <div class="insert">
                <label asp-for="Nome"></label>      <input asp-for="Nome" requered /><br />
                <label asp-for="Cognome"></label>   <input asp-for="Cognome" requered /><br />
                <label asp-for="Città"></label>     <input asp-for="Città" requered /><br />
                <label asp-for="Indirizzo"></label> <input asp-for="Indirizzo" requered /><br />
                <label asp-for="Telefono"></label>  <input asp-for="Telefono" requered /><br />
            </div>
        </div>
    </form>

</div>
