@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

@model List<Catalogo>

    @*Perchè visualizzo una lista*@ 

<h2>Catalogo corsi</h2>

<div class="row md-3">
    <div class="col-md-2"><b>Immagini</b></div>
    <div class="col-md-4"><b>Prodotti</b></div>
    <div class="col-md-3"><b>Prezzo</b></div>
    <div class="col-md-3"><b>Dettagli</b></div>
</div>
@for (int i = 0; i <= 10; i++)
{
    <form asp-controller="Catalogo" asp-action="Dettagli" method="get">
       @foreach(Catalogo x in Model)
        {

        <div class="row md-3">
            <div class="col-md-2">@x.Immagine</div>
            <div class="col-md-4">@x.Prodotto</div>
            <div class="col-md-3">@x.Prezzo</div>
            <div class="col-md-3"><button type="submit" @*id="@x.Dettaglio"*@>@x.Dettaglio</button></div>

        </div>
        }
    </form>
}