@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@using MioSito.Models.ViewModels

@model List<CatalogoViewModel>

    @*Perchè visualizzo una lista*@ 

<h2>Catalogo corsi</h2>

<div class="row md-3 titleBar">
    <div class="col-md-2"><b>Immagini</b></div>
    <div class="col-md-4"><b>Prodotti</b></div>
    <div class="col-md-3"><b>Prezzo</b></div>
    <div class="col-md-3"><b>Dettagli</b></div>
</div>
@*@for (int i = 0; i <= 10; i++)
{
<form asp-controller="Catalogo" asp-action="Dettagli" method="get">
    *@
    @foreach (CatalogoViewModel x in Model)
    {

        <div class="row md-3 container">
            <div class="col-md-2 divImg" @*style="background-image:url(@x.ImagePath)"*@><img src="@x.ImagePath" class="immagine" /> </div>
            <div class="col-md-4">@x.Title</div>
            <div class="col-md-3">
                <div>@x.FullPrice</div><br />
                <div>@x.CurrentPrice</div>
            </div>
            <div class="col-md-3"><a asp-controller="Catalogo" asp-action="Dettagli" asp-route-id="@x.Id" class="btn btn-outline-primary">Dettagli</a></div>
            @*<button type="submit" id="@x.Id" onclick="SendDettaglio">Dettaglio</button>*@
        </div>
    }
@*</form>
    }*@
