@using MioSito.Models.ViewModels
@using MioSito.Models.Enums
@model AddCourseViweModel

<h2>Insert Into Database</h2>

<form asp-controller="Catalogo" asp-action="Save" enctype="application/x-www-form-urlencoded" method="post">
    <div class="clearFix formInserimento form-row">
        
        <label class="col-md-3 col-form-label"> nuovo titolo:</label>
        <div class="col-sm-9">
            <input required class="col-md-5 form-control" type="text" name="Title" />
            <span asp-validation-for="Title" />
        </div>
        <label class="col-md-3 col-form-label"> nuova descrizione:</label>
        <div class="col-sm-9">
            <input class="col-md-5 form-control" type="text" name="Description" />
            <span asp-validation-for="Description" />
        </div>
        <label class="col-md-3 col-form-label"> nuova immagine:</label>
        <div class="col-sm-9">
            <input type="file" class="col-md-5 form-control-file" name="ImagePath">
            <span asp-validation-for="ImagePath" />
        </div>
        <label class="col-md-3 col-form-label"> nuovo autore:</label>
        <div class="col-sm-9">
            <input required class="col-md-5 form-control" type="text" name="Author" />
            <span asp-validation-for="Author" />
        </div>
        <label class="col-md-3 col-form-label"> nuovo raiting:</label>
        <div class="col-sm-9">
            <input required class="col-md-5 form-control" type="text" name="Rating" />
            <span asp-validation-for="Rating" />
        </div>
        <label class="col-md-3 col-form-label"> nuova email:</label>
        <div class="col-sm-9">
            <input class="col-md-5 form-control" type="text" name="Email" />
            <span asp-validation-for="Email" />
        </div>
        <label class="col-md-3 col-form-label"> nuovo prezzofull:</label>
        <div class="col-sm-9 form-row">
            <input required class="col-md-3 form-control" type="text" name="FullPrice" />
            <span asp-validation-for="FullPrice" />

            <select required class="col-md-12 custom-select" name="Valuta">
                <option selected>Choose</option>
                <option value="EUR">@Currency.EUR</option>
                <option value="USD">@Currency.USD</option>
                <option value="GBP">@Currency.GBP</option>
            </select><br />
            <span asp-validation-for="Valuta" />
        </div>
        <label class="col-md-3 col-form-label"> nuovo prezzoc:</label>
        <div class="col-sm-9 form-row">
            <input required class="col-md-3 form-control" type="text" name="CurrentPrice" />
            <span asp-validation-for="CurrentPrice" />

            <select required class="col-md-12 custom-select" id="inputGroupSelect02" name="ValutaCor">
                <option selected>Choose</option>
                <option value="EUR">@Currency.EUR</option>
                <option value="USD">@Currency.USD</option>
                <option value="GBP">@Currency.GBP</option>
            </select>
            <span asp-validation-for="ValutaCor" />
        </div>

            @*    insertsci un nuovo tipoprezzo:<input type="text" asp-for="@Model.Valuta" /><br />
        insertsci un nuovo tipoprezzoc:<input type="text" asp-for="@Model.ValutaCor" /><br />*@
            

        <div asp-validation-summary="All"></div>
        <input type="submit" class="btn btn-primary" value="Invia dati al DB">
        @*    -----------------asp-validation-for è in grado di presentare gli errori di validazione per una specifica proprietà del modello. Sostituisce Html.ValidationMessageFor();*@
        @*-----------------asp-validation-summary può visualizzare tutti gli errori di validazione o solo quelli che riguardano le proprietà del modello. Sostituisce Html.ValidationSummary();*@
    </div>
</form>


